.classified.ng-enter,
.classified.ng-move {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.classified.ng-enter.ng-enter-active,
.classified.ng-move.ng-move-active,
{
    opacity: 1;
}

.classified.ng-leave {
    animation: 0.4 fade_classified;
}

@keyframes fade_classified {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}