nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/
nbproject/
__MACOSX/
.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.swo
.idea

pids
logs
results
dist
# test coverage files
.coverage/

node_modules
npm-debug.log
