<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="vm.sideNavOpen">
    <md-toolbar>
        <h1 class="md-toolbar-tools">Add a Admin</h1>
    </md-toolbar>
    <md-content layout-padding>
        <form name="addAdminForm">
            <md-input-container>
                <label for="username">Username</label>
                <input type="text" id="username" ng-model="vm.admin.username" ng-required="true" ng-minlength="3" ng-maxlength="30" />
            </md-input-container>
            <md-input-container>
                <label for="password">Password</label>
                <input name="adminPasswordField" type="password" id="password" ng-model="vm.admin.password" ng-required="true" ng-minlength="3" ng-maxlength="15" />
            </md-input-container>
            <md-input-container>
                <label for="confirmPassword">Confirm the password:</label>
                <input type="password" id="confirmPassword" ng-model="vm.admin.confirmPassword" ng-required="true" match="vm.admin.password" name="adminPasswordConfirmField" />
            </md-input-container>
            <md-container>
                <div ng-show="addAdminForm.adminPasswordConfirmField.$error.match">
                    <md-icon class="mdi mdi-close" style="color:red;"></md-icon>
                    Passwords do not match!</div>
            </md-container>
            <md-input-container>
                <label for="email">Email</label>
                <input type="email" id="email" ng-model="vm.admin.email" ng-required="true" ng-minlength="5" ng-maxlength="30" />
            </md-input-container>
            <div>
                <md-button ng-disabled="addAdminForm.adminPasswordConfirmField.$error.match || !addAdminForm.$valid" class="md-primary" ng-click="vm.saveAdmin(vm.admin)">Save</md-button>
                <md-button class="md-warn" ng-click="vm.closeSideBar()">Cancel</md-button>
                <!-- <pre>{{ vm.admin | json }}</pre> -->
            </div>
        </form>
    </md-content>
</md-sidenav>